<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>
<body>
    <%- include('partials/nav.ejs')%>
    <section>
        <% recipe.forEach(i => { %>
            <div>
                <div class="img-div">
                    <img src="<%= i.img %>" alt="image">
                </div>
                <a href="/<%= i.id %>"><%= i.name %></a>
                <p><%= i.time %></p>
            </div>
       <% }) %>
    </section>
</body>
</html>